<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Persons CRUD</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>

    <!--script src="js/form.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <title>AngularJs PUT Form Nested Object to SpringBoot Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/js/angularApp.js"></script>
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Spring Boot Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script-->
</head>
<div class="container" ng-app="app">
    <!--h1>Practice</h1-->
    <div class="row">

        <div ng-controller="postOrganizationsControllerUpdate" class="col-md-3">

            <form name="organizationFormUpdate" ng-submit="postUpdateOrganization()">
                <h3>Update Organization</h3>

                <label>Name</label>
                <input type="text" name="name" class="form-control" ng-model="name"/>
                <label>FullName</label>
                <input type="text" name="fullName" class="form-control" ng-model="fullName"/>
                <label>Inn</label>
                <input type="text" name="inn" class="form-control" ng-model="inn"/>
                <label>Kpp</label>
                <input type="text" name="kpp" class="form-control" ng-model="kpp"/>
                <label>Address</label>
                <input type="text" name="address" class="form-control" ng-model="address"/>
                <label>Phone</label>
                <input type="text" name="phone" class="form-control" ng-model="phone"/>
                <label>isActive</label>
                <input type="text" name="isActive" class="form-control" ng-model="isActive"/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <label>Org Id</label>
            <input type="text" class="form-control" style="width: 110px;" ng-model="model.id" placeholder='Enter Org Id'
                   ng-change="getByIdOrganization()"/> <br/>
            <button ng-click="getByIdOrganization()">Get Organizations by Id</button>
        </div>

        <div ng-controller="postOrganizationsControllerSave" class="col-md-3">
            <form name="organizationForm" ng-submit="submitForm()">
                <h3>Save Organization</h3>
                <label>Name</label>
                <input type="text" name="name" class="form-control" ng-model="name"/>
                <label>FullName</label>
                <input type="text" name="fullName" class="form-control" ng-model="fullName"/>
                <label>Inn</label>
                <input type="text" name="inn" class="form-control" ng-model="inn"/>
                <label>Kpp</label>
                <input type="text" name="kpp" class="form-control" ng-model="kpp"/>
                <label>Address</label>
                <input type="text" name="address" class="form-control" ng-model="address"/>
                <label>Phone</label>
                <input type="text" name="phone" class="form-control" ng-model="phone"/>
                <label>isActive</label>
                <input type="text" name="isActive" class="form-control" ng-model="isActive"/>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <p>{{postResultMessage}}</p>
        </div>

        <div ng-controller="postOrganizationsControllerDelete" class="col-md-3">
            <h3>Delete organization</h3>
            <label>Id:</label>
            <input type="text" class="form-control" style="width: 100px;" ng-model="organizationId"/> <br/>
            <button ng-click="deleteOrganizationById()">Delete Organizations by Id</button>
            <p>{{postResultMessage}}</p>
            <p>{{message}}</p>
        </div>

        <div ng-controller="postOrganizationsControllerList" class="col-md-3">

            <form name="organizationFormList" ng-submit="submitForm()">
                <h3>Filter Organizations </h3> <!--  (name, id, isActive)-->
                <label>Name</label>
                <input type="text" name="name" class="form-control" ng-model="name"/>
                <label>Inn</label>
                <input type="text" name="inn" class="form-control" ng-model="inn"/>
                <label>isActive</label>
                <input type="text" name="isActive" class="form-control" ng-model="isActive"/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <div ng-show="showAllOrganizations">
                <ul class="list-group">
                    <li ng-repeat="organization in allorganizations.data"><h4 class="list-group-item">
                        <strong>Organizations {{$index}}</strong><br/>
                        Id: {{organization.id}}<br/>
                        Name: {{organization.name}}<br/>
                        Inn: {{organization.inn}}<br/>
                        Active: {{organization.isActive}}<br/>
                    </h4></li>
                </ul>
            </div>

            <p>{{postResultMessage}}</p>
        </div>

    </div>

    <div class="row">

        <div ng-controller="officeController" class="col-md-3">
            <h3>Office controller </h3>

            <p> Результат: {{modelOffice.resultMessage}}</p>

            <h4>orgId {{model.id}}</h4>
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="name"/>
            <label>Address</label>
            <input type="text" name="address" class="form-control" ng-model="address"/>
            <label>Phone</label>
            <input type="text" name="phone" class="form-control" ng-model="phone"/>
            <label>isActive</label>
            <input type="text" name="isActive" class="form-control" ng-model="isActive"/>
            <button ng-click="cleanUp()">Clean up</button>

            <div ng-controller="getOfficeControllerGetById">
                <label>Office Id</label>
                <!--input type="text" class="form-control" style="width: 120px;" ng-model="id" placeholder='Enter Office Id' [(ngModel)]="id" (keyup)="valuechange()"/> <br/-->
                <input type="text" class="form-control" style="width: 120px;" ng-model="office.id"
                       placeholder='Enter Office Id' ng-change="getOfficeById()"/> <br/>
                <!--input type="text" class="form-control" style="width: 120px;" ng-model="id" placeholder='Enter Office Id'/> <br/-->
                <button ng-click="getOfficeById()">Get Offices by Id</button>
            </div>

            <div ng-controller="postOfficeControllerListbyOrgId">

                <button ng-click="postOfficeListByOrgId()">List Offices by OrgId</button>

            </div>

            <div ng-controller="postOfficeControllerUpdate">

                <button ng-click="postOfficeUpdate()">Update Office</button>

            </div>

            <div ng-controller="postOfficeControllerDelete">

                <button ng-click="deleteOfficeById()">Delete Office</button>

            </div>

            <div ng-controller="postOfficeControllerSave" class="col-md-3">

                <button ng-click="postOfficeSave()">Save</button>

            </div>

        </div>

        <div ng-controller="postOfficeControllerListbyOrgId" class="col-md-3">
            <div ng-show="modelOffice.showAll">
                <h3>List by orgId</h3>
                <button ng-click="hideListByOrgId()">Hide</button>
                <ul class="list-group">
                    <ul ng-repeat="item in modelOffice.listOfficeByOrgId">
                        <label>OrgId: {{modelOffice.orgId}}</label>
                        <li ng-repeat="office in item"><h4 class="list-group-item">
                            <strong>Offices {{$index}}</strong><br/>
                            Id: {{office.id}}<br/>
                            Name: {{office.name}}<br/>
                            Active: {{office.isActive}}<br/>
                        </h4></li>
                    </ul>
                </ul>
            </div>

        </div>

    </div>


    <div class="row">
        <div ng-controller="getAllOrganizationsController" class="col-md-3">
            <h3>All Organizations</h3>

            <button ng-click="getAllOrganizationsFull()">{{buttonView}}</button>
            <button ng-click="getAllOrganizationsBrief()">{{buttonSize}}</button>

            <div ng-show="showAll">
                <ul class="list-group">
                    <li ng-repeat="organization in allOrganizations.data">
                        <h4 class="list-group-item">
                            <strong>Organizations {{$index}}</strong><br/>
                            Id: {{organization.id}}<br/>
                            Name: {{organization.name}}<br/>
                            <p ng-show="showAllOrganizationsBrief">FullName:{{organization.fullName}}</p>
                            Inn: {{organization.inn}}<br/>
                            <p ng-show="showAllOrganizationsBrief">Kpp: {{organization.kpp}}<br/></p>
                            <p ng-show="showAllOrganizationsBrief">Address: {{organization.address}}<br/></p>
                            <p ng-show="showAllOrganizationsBrief">Phone: {{organization.phone}}<br/></p>
                            Active: {{organization.isActive}}<br/>
                        </h4>
                    </li>
                </ul>
            </div>

            <p>{{getResultMessage}}</p>
        </div>

        <div ng-controller="getAllOfficesController" class="col-md-3">
            <h3>All Offices</h3>

            <button ng-click="getAllOfficesFull()">{{buttonView}}</button>
            <button ng-click="getAllOfficesBrief()">{{buttonSize}}</button>

            <div ng-show="showAll">
                <ul class="list-group">
                    <li ng-repeat="office in allOffices.data">
                        <h4 class="list-group-item">
                            <strong>Offices {{$index}}</strong><br/>
                            Id: {{office.id}}<br/>
                            Name: {{office.name}}<br/>
                            Phone: {{office.phone}}<br/></p>
                            <p ng-show="showAllOfficesBrief">Address: {{office.address}}</p>
                            Active: {{office.isActive}}<br/>
                            OrgId: {{office.orgId}}
                        </h4>
                    </li>
                </ul>
            </div>

            <p>{{getResultMessage}}</p>
        </div>
    </div>

</div>

</html>
